<% if notice %>
  <script>
      function tempAlert(msg,duration)
      {
          var el = document.createElement("p");
          el.setAttribute("class","login")
          el.innerHTML = msg;
          setTimeout(function(){
              el.parentNode.removeChild(el);
          },duration);
          document.body.appendChild(el);
      }
      tempAlert("<%= notice %>", 2000);
  </script>


    <% elsif alert %>
  <p class="alert"><%= alert %></p>
<%end%>